/*****************/
/*UNIVERSAL*/
/****************/

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 100%;
}


body {
  display: grid;
  grid-template-areas: 
  "sidebar header header"
  "sidebar graph graph"
  "sidebar divide divide"
  "sidebar table aside";
  grid-template-rows: auto 3fr 15px 6fr;
  grid-template-columns: 1fr 4fr 2fr;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

/*////SIDEBAR////*/

.user{
  border-bottom: 2px solid #212934;
  height: 200px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

.name{
  font-size: 1.5rem;
  margin: 0;
  padding-left: 10px;
}


.profile-pic {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 45%;
}

.sidebar {
  background-color: #334052;
  color: #97A9BF;
  display: inline-block;
  grid-area: sidebar;
  line-height: 3.3;
}

h5 {
  font-weight: normal;
  line-height: 1;
  margin: 2rem 0 1rem 0;
  padding-left: 40px;
}

.fw {
  font-size: 1.5rem;
  margin-right: 5px;
  text-align: center;
  width: 2.2rem;
}

.menu {
  border-bottom: 2px solid #212934;
  margin-top: 1rem;
}

.menu-item {
  padding-left: 30px;
  width: 100%;
}

.menu-item:hover {
  color: white;
  background-color: #212934;
  border-left: 3px solid #00A4FF;
}

ul,
.menu {
    margin-top: 0;
    padding: 0;
}

li,
.menu {
  width: 100%;
}

/*////HEADER////*/

header {
  background-color: lightblue;
  grid-area: header;
}

.top-bar {
 background-color: #FFFFFF;
  display: grid;
  grid-template-areas: 
  "ham mag search plus cal bx";
  grid-template-columns: 1fr 1fr 9fr 1fr 1fr 1fr;
  border-bottom: 2px solid #E6EBF3;
  position: fixed;
  width: 86%;
}

.side-collapse {
  color: #7A8595;
  grid-area: ham;
}

.top-icon {
  color: #7A8595;
  text-align: center;
  display: block;
  font-size: 1.7rem;
  border-left: 2px solid #E6EBF3;
  padding: 1rem;
  line-height: 2.5;
}

.mag-glass {
  grid-area: mag;
  padding-right: 0;
}

.search {
  grid-area: search;
}

fieldset {
  border: none;
  padding-left: 0;
}

legend {
  display: none;
}

input {
  background: none;
  border: none;
  color: #A4AEBC;
  font-size: 1.3rem;
  padding: 2rem 0;
  width: 100%;
}


.add {
  grid-area: plus;
}

.cal {
  grid-area: cal;
}

.boxes {
  grid-area: bx;
}

/*////HEADING////*/
.heading {
 background-color: #FFFFFF;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5rem;
}

.heading-text {
  margin: 2rem;
}


h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.heading-subtext {
  display: flex;
}

h2,
h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: .5rem;
}

.dot {
  font-size: 3px;
  padding: 1rem .5rem;
}


.preview {
  color: #00a4ff;
}

.heading-buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.op {
  color: #78CA08;
  font-size: .7rem;
}

.open {
  border-radius: 50px;
  text-transform: uppercase;
  width: 6.5rem;
}

.open,
.circle {
  background-color: #FFFFFF;
  border: 2px solid #A4AEBC;
  height: 3rem;
  text-align: center;
  padding-top: .6rem;
}  

.circle {
  width: 3rem;
  border-radius: 50%;
}



/*////nav////*/


nav{
  background-color: orange;

}






.main-nav-ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 1rem;
}


/*////GRAPHS////*/


.graphs {
  background-color: teal;
  grid-area: graph;
  display: flex;
  height: 15rem;
  overflow: hidden;
}

.circles {
  width: 60%;
}

#cholder {
  height: 100%;
}

.bar-graph{
  width: 40%;
  padding-right: 1rem;
}

#bholder {
  height: 100%;
}


.page-divide {
  background-color: yellow;
  grid-area: divide;
}

.posting {
  background-color: aqua;
  grid-area: table;
}


.right-aside {
  background-color: lime;
  grid-area: aside;
}
